@import '../../styles/vars';

.header {
  position: sticky;
  top: 0;
  height: $headerHeight;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #fff;
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 6px 6px;
  z-index: 100;
}
