@import './styles/reset';
@import './styles/vars';
@import './styles/mixin';

body {
  background-color: #eee;
}

main {
  // min-height: calc(100vh - $footerHeight - $headerHeight);
  min-height: calc(100vh - 130px);
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  @include onMobile {
    padding: 40px 0;
  }
}
